<?xml version="1.0" encoding="UTF-8"?>
<!-- Refers to https://springframework.guru/using-logback-spring-boot/ -->
<configuration>
    <appender name="ES_COLLECTOR"
              class="com.alo7.room.common.HttpAppender">
        <kibanaCollector>collector.internal.alo7.com</kibanaCollector>
        <encoder class="net.logstash.logback.encoder.AccessEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>
                        {
                        "module": "ACCESS",
                        "timestamp": "%date{ISO8601}",
                        "remote": "%remoteIP",
                        "user": "%user",
                        "method": "%requestMethod",
                        "url": "%requestURL",
                        "status": "%s",
                        "thread": "%threadName",
                        "duration": "%elapsedTime",
                        "request": "%fullRequest",
                        "response": "%fullResponse"
                        }
                    </pattern>
                </pattern>
                <stackTrace>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>30</maxDepthPerThrowable>
                        <maxLength>2048</maxLength>
                        <shortenedClassNameLength>20</shortenedClassNameLength>
                        <exclude>^sun\.reflect\..*\.invoke</exclude>
                        <exclude>^net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
    </appender>
    <appender name="ASYNC_ES_COLLECTOR" class="net.logstash.logback.appender.AccessEventAsyncDisruptorAppender">
        <appender-ref ref="ES_COLLECTOR" />
    </appender>
    <appender-ref ref="ASYNC_ES_COLLECTOR" />
</configuration>